body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background: rgb(135, 235, 235);
    color: rgb(0, 0, 0);
}

header {
    background: rgb(177, 129, 224);
    color:rgb(0, 0, 0);
    text-align: center;
    padding: 25px;
}

header nav a{
    color: antiquewhite;
    margin: 0 10px;
    text-decoration: none;
}

.btn-principal {
    background: pink;
    color: rgb(0, 0, 0);
    padding: 12px 25px;
    border : none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.3s, background 0.3s;
}

.btn-principal:hover {
    background: palevioletred;
    transform: scale(1.08);
}

/* Galeria estilo cards */
.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.card img{
    width: 100%;
    height: auto;
}
.card:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 30px black(0,0,0,0.25);
}

/* Formulario */
form{
    max-width: 500px;
    margin: auto;
    padding: 20px;
}

form label{
    display: block;
    margin: 12px 0 5px;
}

form input, form textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid yellow;
    border-radius: 6px;
    margin-bottom: 15px;
}

form button{
    background: rgb(160, 128, 248);
    color: rgb(0, 0, 0);
    border: none;
    padding: 12px 20px;
    border-radius: 7px;
    cursor: pointer;
}

form button:hover{
    background: rgb(241, 141, 59);
}

/* Redes Sociales */
.redes a {
    font-size: 28px;
    margin: 0 12px;
    color: rgb(229, 220, 245);
    text-decoration: none;
    transition: transform 0.3s, color 0.3s;
}

.redes a:hover {
    transform: scale(1.2);
    color: rgb(120, 161, 238);
}

footer{
    background: black;
    color: brown;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

/* Media Queries */
@media (max-width: 768px) {
    .galeria{
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 1024px){
    body {
        background: palevioletred;
    }
}