* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background-color: #f9f9f9;
  color: #333;
}

header {
  background-color: #9ac8f3;
  color: rgb(0, 0, 0);
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

nav {
  display: flex;
  gap: 20px;
}

nav a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: bold;
}

.menu-toggle {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

section {
  padding: 40px 20px;
  max-width: 1000px;
  margin: auto;
}

.card {
  margin: 20px 0;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.02);
}

.card img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.4s ease-in-out;
}

.card:hover img {
  transform: scale(1.05);
}

.card .info {
  padding: 15px;
  background-color: #ebb0b0;
}

h1, h2 {
  margin-bottom: 20px;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

footer {
  background-color: #e4a7a7;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 15px 0;
  margin-top: 40px;
}

/* Responsive */
@media (max-width: 768px) {
  nav {
    display: none;
    flex-direction: column;
    background-color: #660000;
    position: absolute;
    top: 60px;
    right: 0;
    width: 200px;
    padding: 10px;
  }

  nav.active {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }
}
