body{
    font-family: Arial, sans-serif;
    background: #f0f4ff;
    margin:0;
    padding:0;
}

.container{
    width: 380px;
    margin: 30px auto;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 0px 12px rgba(0,0,0,0.2);
}

h1{
    text-align: center;
    color: #333;
}

.sub{
    text-align: center;
    margin-bottom: 20px;
    color:#555;
}

label{
    font-weight: bold;
    display: block;
    margin-top: 15px;
}

input{
    width: 100%;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 6px;
    margin-top: 5px;
}

button{
    width: 100%;
    padding: 12px;
    background: #0066ff;
    color: white;
    border: none;
    margin-top: 20px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}

button:hover{
    background: #004fcc;
}

.evidencia{
    background: #ff9800 !important;
    margin-top: 10px;
}

#resultado{
    margin-top: 20px;
    padding: 15px;
    border-radius: 6px;
    font-weight: bold;
    display: none;
}
